# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a
MuSIC5_offline_analysis.xcodeproj/
build/
*.root
*.exe

# Modified files
*~
.DS_Store
*.root
*.mid
mid2root_converter
